appdirs==1.4.3
gunicorn==19.7.1
package-name==0.1
packaging==16.8
pyparsing==2.2.0
six==1.10.0
Werkzeug==0.11.15
SQLAlchemy==1.0.14
psycopg2==2.6.2
requests==2.7.0
Jinja2==2.9.5
itsdangerous==0.24
Flask==0.12
Babel==2.3.4
