<html>
  <head>
    {% if title %}
    <title>{{ title }} - CS330FinalProj</title>
    {% else %}
    <title>Movies Info Pls</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <h1>Movies</h1>

  <div id="horizontalitems">
    <nav>
      <li class="horiz"><a href="{{ url_for('.index') }}">Home</a></li>
      <li class="horiz" >OMDB</li>
      <li class="horiz"><a href="{{ url_for('.cool_form') }}">Your search</a></li>
    </nav>
  </div>

    {% block content %}{% endblock %}
  </body>
  <footer>
    <p>Link to <a href="http://www.jemome.com/cdn/2015/12/movie-theater-screen-powerpoint-backgrounds_125446.jpg">background image</a></p>
</html>
