html{
  background-color: gray;
}


body{
  background-image: url("moviebackground.jpg");
  margin: 20px 15px 10px 15px;
  padding: 90px 10px 5px 10px;
  color: white;

}

.horiz{
  display:inline-block;
}
